#colabora{
    background:rgb(51, 196, 94);
    color: white;
    padding: 20px;
    text-align: center;
    text-shadow:2px 2px 3px rgb(26, 26, 26);
}
#colabora .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.donaciones{
    margin:20px;
}

.donaciones img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
}

@media (min-width:480px){
    .donaciones{
        width: 40%;
    }
}

@media (min-width:1024px){
    .donaciones{
        width: auto;
    }
}