.about-us{width: 100%;}
.about-us .info{
    width: 100%;
    margin-top: 100px;
}
.about-us .info h3{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.about-us .info p {
   width: 80%;
   margin:50px auto;
   text-align: center;
   color:#000;
   font-size: 19px;
   line-height: 40px;
}
.about-us .info hr{
    width: 90%;
    border:none;
    height: 2px;
    background: #4d4d4d;
    margin:auto;
}
.about-us .free-content{
    width: 100%;
    margin-top: 100px;
    background: rgb(51, 196, 94);
    padding:30px;
}
.about-us .free-content h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color:#fff;
}
.about-us .free-content .icons{
    width: 90%;
    margin:30px auto;
    display: flex;
    justify-content: center;
}
.about-us .free-content .icons > div{width: 100%; margin:0px 30px;}
.about-us .free-content .icons > div > .span-icon{
    width:100%;
    font-size: 40px;
    color:#fff;
    display: flex;
    justify-content: center;
}
.about-us .free-content .icons > div h6{
    font-size: 25px;
    color:#fff;
    text-align: center;
    font-weight:normal;
    margin:20px 0px 5px 0px;
}
.about-us .free-content .icons > div p{
    font-size: 18px;
    text-align: center;
    color:#fff;
}